params {
	// Input VCF with HLA allele calls
	vcf = "/full/path/data/1000G/HLA_typed/AFR.qc.no_monomorphic.vcf.gz"

	// Input covariate file in PLINK-compatible format
	covariates_tsv = "/full/path/data/1000G/Covariates/AFR.covars.txt"

	// Total number of simulations is n_pheno_per_sim_job * n_sim_jobs
	// N phenotypes to simulate per job
	n_pheno_per_sim_job = 1000

	// N simulation jobs
	n_sim_jobs = 30

	// Params random seed
	seed = 2

	simulate_pheno_exec = "python /full/path/to/scripts/phenotype_simulations/simulate_binary_pheno.py"
	regression_exec = "Rscript /full/path/to/scripts/regressions//firth_test.R"

	// Output options:
	output_dir = "result" // Path to the output directory
}

process {
	executor = "slurm"
	clusterOptions = "--account=.." // cluster allocation account name
	//executor = "local"
}

executor {
	$slurm {
		queueSize = 50
		queueStatInterval = "3  min"
		pollInterval = "3 min"
		submitRateLimit = "5 sec"
		jobName = { "gwas_sim" }
	}
	$local {
		cpus = 4
		memory = "8 GB"
	}
}


