params {
	// Input BAM files containing reads mapped to HLA and all unmapped reads
	bams = "/full//path/to/bam/files/*.bam"

	// Pass to the the Apptainer container with installed GATK, samtoools, and HLA-HD. See the corresponding .def files to create the container in this repo.
	hlahd_container = "/full/path/to/container/hla-hd_v1.7.1.sif"

	// HLA-HD runtime options
	hlahd_ncpus = 4

	// Output options:
	output_dir = "results" // Path to the output directory
}

apptainer {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	clusterOptions = "--account=.." // cluster allocation account name
	//executor = "local"
}

executor {
	$slurm {
		queueSize = 50
		queueStatInterval = "3  min"
		pollInterval = "3 min"
		submitRateLimit = "5 sec"
		jobName = { "hla-hd" }
	}
	$local {
		cpus = 4
		memory = "8 GB"
	}
}


