params {
	// Input BAM files containing reads mapped to HLA and all unmapped reads
	bams = "/full/path/to/bam/files//*.bam"

	// Pass to the the Apptainer container with installed SpecHLA and relevant tools. See the corresponding .def files to create the container in this repo.
	spechla_container = "/full/path/to/container/spechla_v1.0.12.sif"

	// specHLA runtime options
	spechla_ncpus = 1
	reference_fasta = "/full/path/to/reference/fasta/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz"

	// Output options:
	output_dir = "results" // Path to the output directory
}

apptainer {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	clusterOptions = "--account=.." // cluster allocation account name
	//executor = "local"
}

executor {
	$slurm {
		queueSize = 300
		queueStatInterval = "3  min"
		pollInterval = "3 min"
		submitRateLimit = "5 sec"
		jobName = { "spechla" }
	}
	$local {
		cpus = 4
		memory = "8 GB"
	}
}


